.App {
  text-align: center;
}

body { 
  font-family: 'nanumsquare';
}

.black-nav { 
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Book-container { 
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom: 50px;
}

.subject1 {
  text-align: left;
}

.subject2,.subject3 {
  text-align: center;
}

.submit-btn {
  background-color:aquamarine;
  text-align: center;
  margin: 0 auto;
}

.title-input{ 
  text-align: center;
  margin:auto;
  width:300px;
  height:20px;
  border: 1px solid #333;
  position:absolute;
  
}

.form-wrapper {
  text-align: center;
  margin:0 auto;
  position: absolute;

}
/*.text-area {
  text-align: center;
  border: 1px solid #333;
  
  
}*/